* {
  margin: 0;
  padding: 0;
  border: none;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
